
#Data
Data/
*.npz
*.h5

#simvue files
simvue.ini

#Saved Models
Weights/
*.pth 

#Vector Graphics Files
/Vector_Graphics
*.svg
*.pdf

*.pyc
*.log

#Saved Plot
Plots/
*.png


#Machine Output files
*.file
*.out

#Submission Script
*.sh
