
#Package Inits
__init__.py

#Data
Data/
*.npz
*.h5

#simvue files
simvue.ini

#Saved Models
Weights/
*.pth 

#Vector Graphics Files
/Vector_Graphics
*.svg
*.pdf

*.pyc

#Saved Plot
Plots/
*.png


#Machine Output files
*.file
*.out

#Submission Script
*.sh
